/* Reset cơ bản */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background-color: #f4f6f8;
    color: #333;
}

/* ===== NAVBAR ===== */
.navbar {
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: #3498db;
    padding: 16px 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 50px;
    font-weight: 600;
    padding: 6px 10px;
}

.navbar a:hover {
    text-decoration: underline;
}

/* Trang đang đứng */
.navbar a.active {
    border-bottom: 25px solid #fff;
}

/* ===== CONTENT ===== */
.content {
    max-width: 900px;
    margin: 40px auto;
    background-color: white;
    padding: 300px 400px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.content h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #2c3e50;
    font-size: 70px;      /* TĂNG CỠ CHỮ */
    font-weight: 700;    /* ĐẬM HƠN */
}


.content p {
    font-size: 50px;
    line-height: 1.7;
    margin-bottom: 20px;
    text-align: justify;
}

